node_modules/
.*cache
.jest
*.tsbuildinfo
*.log
.coverage/
.DS_Store
CVS
.svn
.hg
.lock-wscript
.wafpickle-N
.*.swp
._*
.npmrc
.yarnrc
config.gypi
dist/
dist-*/
.env

# https://github.com/vitejs/vite/issues/13267
vite.config.ts.timestamp*